.ipynb_checkpoints/
*.safetensors 
*.nii.gz
05_Implementation/Jupyter notebooks/segmentation_models
05_Implementation/Jupyter notebooks/test_notebook.ipynb
04_Datasets
05_Implementation/Jupyter notebooks/lesion-filling-256*
05_Implementation/Jupyter notebooks/lesion-synthesis-256*
05_Implementation/Jupyter notebooks/lesion-synthesis-3D*
05_Implementation/Jupyter notebooks/lesion-filling-3D*
*.npy
__pycache__/
06_Trainings/
03_Literatur/**/*.docx
08_Report
09_Presentation