.ipynb_checkpoints/
*.safetensors 
*.nii.gz
05_Implementation/Jupyter notebooks/segmentation_models
04_Datasets
05_Implementation/Jupyter notebooks/lesion-filling-256*
*.npy
__pycache__/
06_Trainings/
03_Literatur/**/*.docx